.slider{
    width: 75vw;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
}

.slider .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide{
    width: 200px;
    display: flex;
    align-items: center;
    /* height: auto; */
}

.slider .slide img{
    width: 100%;
    /* height: 100%; */
}

@keyframes scroll{
    0%{ 
        transform: translateX(0); 
        -webkit-animation: translateX(0);
    }

    100%{ 
        transform: translateX(calc(-200px * 7)); 
        -webkit-animation: translateX(calc(-200px * 7));
    }
}