@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

hr {
    margin: 0 !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

/* track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* FUENTES 
    font-family: "Open Sans", sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: "Inter", sans-serif;
*/

body {
    background-color: #fff;
}

/* GLOBALES */

img {
    width: 100%;
}

/* HEADER */
header {
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header div.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 0.5rem 2rem;
}

@media only screen and (max-width: 768px) {
    header div.nav {
        padding: 0.5rem 1rem;
    }
}

.logo {
    width: 15rem;
    padding-right: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

header ul {
    display: flex;
    gap: 1.4rem;
    list-style-type: none;
    margin: 0;
}

header ul li a {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #2d2d2dda;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

header ul li a:hover {
    color: #2d2d2d;
}

header ul li a:focus:after,
header ul li a:hover:after {
    width: 100%;
    left: 0%;
}

header ul li a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #2d2d2d;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* Estilos para pantallas grandes */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    color: #000;
}

/* Estilos para pantallas pequeñas */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.menu-responsive{
    display: none;
}

@media (max-width: 768px) {
    header ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    header ul.active {
        display: flex;
        padding: 1rem;
        border-top: 1px solid #C7C8C9;
    }

    .menu-toggle {
        display: block;
    }
}



/* MAIN */

/* HERO */

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

#hero .container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    background-color: #1a1a1b;
    color: #fff;
    height: 100%;
    width: 35%;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.hero-logo {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    .hero-logo{
        width: 75%;
    }
}

@media only screen and (max-width: 520px) {
    .hero-logo{
        width: 100%;
    }
}

.hero-image {
    width: 65%;
    background-image: url(../assets/wallpaper-desarrollo-2.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media screen and (max-width: 992px) {
    #hero .container-hero {
        width: 45%;
    }

    .hero-image {
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    #hero .container-hero {
        width: 100%;
    }

    .hero-image {
        display: none;
    }
}

.hero-title {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
}

@media only screen and (max-width: 768px){
    .hero-title{
        font-size: 1.8rem;
    }
}

.typing {
    animation: typing 2s steps(12, end), cursor 0.7s steps(12, end) infinite;
}

.hero-description p {
    text-align: center;
    font-family: "Inter", sans-serif;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero-button button,
.form-group button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.hero-button button span,
.form-group button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.hero-button button span:after,
.form-group button span::after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.hero-button button:hover span,
.form-group button:hover span {
    padding-right: 15px;
}

.hero-button button:hover span:after,
.form-group button:hover span::after {
    opacity: 1;
    right: 0;
}

/* WHY */

#why {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    padding: 4rem 0;
    color: #2d2d2d;
}

#why h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    letter-spacing: -0.02em;
}

#why .why-image {
    width: 100%;
}

#why .why-image img {
    border-radius: 15px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}

#why .reasons {
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 0 7rem;
}

@media only screen and (max-width: 992px) {
    #why .reasons {
        padding: 0 1rem;
        justify-content: end;
    }

    #why .reason-container{
        width: 85%;
    }
}

@media only screen and (max-width: 768px) {

    #why .reason-container{
        width: 100%;
    }

    #image-reason{
        display: none;
    }
    
}

.reason-title {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

#why .reasons dl {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.reason-element {
    display: flex;
    gap: 1.5rem;
}

.reason-image {
    padding-top: 1rem;
    width: 10rem;
}

.reason-image img {
    width: 100%;
}

.reason-text {
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

/* prices */

#prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    padding: 2rem 5rem;
    background-image: url(../assets/bg-price-1920x1128.png);
    background-color: #2c2c2c;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 992px) {
    #prices {
        padding: 2rem 1rem;
    }
}

@media only screen and (max-width: 768px) {
    #prices {
        padding: 2rem 2rem;
    }
}

#plan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    width: 50%;
}

#prices h2 {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: -0.02em;
}

input[type="range"] {
    width: 35%;
    height: 10px;
    border-radius: 5px;
    outline: none;
}

.plan-description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1rem 0;
    flex-direction: column;
    width: 40%;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .plan-description {
        width: 65%;
    }
}

.plan-description div {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.plan-description div span {
    width: 10%;
    text-align: center;
    font-family: "Inter", sans-serif;
}

#prices span.price {
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    background-color: #3b3b3b;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 0.5rem calc(2rem - 10px) 0.5rem 2rem;
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

#prices h3 {
    margin-top: 1.5rem;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.plan-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: min-content;
    margin-top: 1.5rem;
    width: 75%;
}

@media only screen and (max-width: 992px) {
    .plan-images {
        width: 100%;
        gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .plan-images {
        flex-direction: column;
    }

    #prices dl{
        flex-direction: column;
    }
}

.plan-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.plan-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.plan-image img {
    width: 100%;
    transition: 0.5s all ease;
    cursor: pointer;
    border-radius: 10px;
}

.plan-image:hover img {
    transform: scale(1.1);
    transition: 0.5s all ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.plan-item h3 {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.plan-item p {
    color: #ffffffb3;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    input[type="range"] {
        width: 60%;
    }
}

#prices dl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
}

#prices dl div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.75rem;
}

#prices dl dd,
.list-contact dl dd {
    color: #ffffffb3;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: center;
    position: relative;
    padding-left: 1rem;
}

#prices dl dd::before,
.list-contact dl dd::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 40%;
    transform: translate3d(0, -50%, 0);
    border-style: solid;
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent #ffdc25;
    margin-top: 1px;
}

/* SWIPPER */

.swiper {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 3rem 0;
}

.swiper h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #2d2d2d;
    font-size: 2.5rem;
    letter-spacing: -0.02em;
    padding-left: 3rem;
}

@media only screen and (max-width: 768px){
    .swiper h2 {
        font-size: 2rem;
    }
}

.swiper-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2.5rem 0 2rem 0;
}

.swiper-slide p {
    margin-top: 1rem;
    font-family: "Inter", sans-serif;
    opacity: 0;
    font-weight: 300;
    color: #00000099;
}

.swiper-wrapper .swiper-slide img {
    width: 100%;
    max-width: 12rem;
    height: 12rem;
    object-fit: contain;
    border: 1px solid #2d2d2d95;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.15);
    padding: 0.75rem;
    border-radius: 50%;
    transition: 0.5s all ease;
}

.swiper-slide img:hover {
    transform: scale(1.1);
    transition: 0.5s all ease-in-out;
    border: none;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .swiper-wrapper .swiper-slide img {
        width: 8rem;
    }
}

@media screen and (max-width: 576px) {
    .swiper-wrapper .swiper-slide img {
        width: 6rem;
    }
}

@media screen and (min-width: 320px) {
    .swiper-wrapper .swiper-slide img {
        width: 10rem;
        height: 10rem;
    }

    .swiper-slide {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* SERVICES */

#services {
    background-image: url(../assets/bg-price-1920x1128.png);
    background-color: #2d2d2d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    padding: 5rem 0;
}

#services h2 {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.6rem;
    letter-spacing: -0.02em;
}

@media only screen and (max-width: 768px){
    #services h2 {
        font-size: 2rem;
    }
}

#services .services-text {
    font-family: "Inter", sans-serif;
    color: #ffffffb3;
    font-size: 1.1rem;
    font-weight: 300;
}

/* Cards */

.card-group {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    width: 100%;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 768px) {
    .card-group {
        flex-direction: column;
        gap: 2rem;
    }
}

.card-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    width: 15rem;
    text-align: center;
}

.card-service .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1.75rem;
    width: 8rem;
    height: 7rem;
    /* border: 5px solid #4a4a4a; */
}

.card-service .card-header i {
    color: #fff;
    font-size: 4rem;
    text-align: center;
}

.card-service .card-title {
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

/* CONTACTO */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 1.2rem; */
    padding: 5rem 0;
}

#contact h2 {
    color: #2d2d2d;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.6rem;
    letter-spacing: -0.02em;
}

@media only screen and (max-width: 768px){
    #contact h2 {
        font-size: 2rem;
    }
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    width: 80%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: 50%;
}

.form-group div {
    width: 100%;
}

.form-group label {
    font-family: "Inter", sans-serif;
    margin-bottom: 0.25rem;
    font-weight: 300;
    color: #2d2d2d;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.form-group button {
    width: 100%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 40%;
}

.contact-info .contact-item {
    display: flex;
    gap: 1rem;
    align-items: start;
    justify-content: center;
}

.contact-info .contact-item h3 {
    font-size: 1rem;
    padding-top: 0.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #2d2d2d;
}

.contact-info .contact-item p {
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #00000099;
    margin-bottom: 0;
}

.contact-info .contact-item .img-fluid {
    overflow: hidden;
}

.contact-info .contact-item img {
    width: 16rem;
    border-radius: 10px;
    height: 11rem;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s all ease-in-out;
}

.contact-content .contact-item img:hover {
    transition: 0.5s all ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@media only screen and (max-width: 992px){
    .contact-content {
        flex-direction: column;
        gap: 4rem;
        padding: 2rem 0;
    }

    .contact-info {
        flex-direction: row;
        width: 100%;
    }

    .form-group {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .contact-info .contact-item p {
        margin-bottom: 0;
    }

    .contact-info .contact-item{
        flex-direction: column;
        gap: 0;
    }

    .contact-item h3{
        padding-top: 0;
    }

    .tlf{
        margin-top: -20px;
    }

    .br-tlf{
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .contact-info{
        flex-direction: column;
    }
}

/* FOOTER */

footer {
    background-color: #3b3b3b;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 2rem 0 1.5rem 0;
    gap: 1.3rem;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 85%;
}

.footer-contact-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-contact-item h2 {
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 1rem;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.footer-contact-item .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.footer-contact-item .social div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #474747;
    height: 3rem;
    width: 3rem;
}

.contact h2{
    text-align: center;
}

.footer-contact-item .social a {
    color: #fff;
    text-decoration: none;
}

.footer-contact-item .social a div i {
    font-size: 1.2rem;
}

.list-contact {
    display: flex;
    gap: 2rem;
}

.list-contact dl dd {
    text-align: left;
}

.about-us h2,
.about-us p {
    text-align: right;
}

.about-us p {
    color: #ffffff99;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 90%;
}

.footer-logo img {
    width: 13rem;
}

.footer-logo hr {
    background-color: #474747;
    width: 50%;
}

.copyright {
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    color: #ffffffb3;
}

@media only screen and (max-width: 768px) {

    .footer-contact-item, .footer-contact h2{
        text-align: center;
        width: 90%;
    }

    .footer-contact {
        flex-direction: column;
        gap: 1.5rem;
    }

    .list-contact {
        flex-direction: column;
        gap: 1rem;
    }    

    .about-us h2,
    .about-us p {
        text-align: center;
    }
}


/* PRICES PAGE */

.prices-document {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
    min-height: 85vh;
    margin: 2rem auto;
}

h1.title {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    text-transform: uppercase;
    color: #2d2d2d;
    margin-bottom: -1rem;
    letter-spacing: -0.02em;
}

.tab-content {
    width: 80%;
    margin-top: -2.2rem;
    border: 1px solid #dee2e6;
    border-top: none;
    padding: 2rem 1rem;
    border-radius: 0 0 10px 10px;
    margin-bottom: 1.3rem;
}

.tab-pane {
    width: 100%;
}

.nav-tabs {
    width: 80%;
    justify-content: center;
    margin-top: 2.5rem;
}

@media only screen and (max-width: 768px){
    .nav-tabs{
        justify-content: space-evenly;
    }
}

.container-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.nav-link{
    font-family: "Inter", sans-serif;
    color: #00000099;
}

.nav-link:hover{
    color: #1a1a1b;
}

.container-tab .group-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: auto;
}

.group-card .card{
    width: 100%;
    cursor: pointer;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}

.group-card .card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all .15s ease-in-out;
    transform: translateY(-2px);
}

h5.card-title {
    color: #2d2d2d;
    font-family: "Inter", sans-serif;
}

h6.card-subtitle {
    font-family: "Inter", sans-serif;
}

p.card-text {
    font-family: "Inter", sans-serif;
    color: #00000099;
}

.card-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 260px;
    padding: 20px 1px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    border: #C7C8C9 1px solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1200px) {
    .card-buy{
        width: 400px;
    }
}

@media only screen and (max-width: 992px) {
    .card-buy{
        width: 500px;
    }
}

@media only screen and (max-width: 768px) {

    .prices-document{
        padding: 2rem 0;
    }

    .container-tab{
        flex-direction: column;
    }

    .group-card .card{
        width: 100%;
    }

    .card-buy{
        width: 100%;
        margin: 2rem 0;
    }
}

.card-buy .content {
    padding: 20px;
}

.card-buy .content .price {
    color: #00000099;
    font-weight: 800;
    font-size: 50px;
}

.card-buy .content .description {
    color: #00000099;
    margin-top: 10px;
    font-size: 14px;
}

.card-buy .content .title {
    font-weight: 800;
    text-transform: uppercase;
    color: #2d2d2d;
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
}

.card-buy button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(33 150 243);
    border-radius: 0.5rem;
    width: 90%;
    text-shadow: 0px 4px 18px #2c3442;
}

@media only screen and (max-width: 768px){
    .card-buy{
        margin: 0;
    }
}

/* SERVICES DOCUMENT */

.service-doc-title{
    font-family: "Open Sans", sans-serif;
    letter-spacing: -0.02em;
    color: #1a1a1b;
    font-size: 2.6rem;
    text-transform: uppercase;
}

#services-document{
    padding: 2rem 0;
}

#services-document .service-document{
    font-family: 'Inter', sans-serif;
    color: #00000099;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 3.5rem;
}

@media only screen and (max-width: 768px){
    #services-document .service-document{
        flex-direction: column;
    }
}

#services-document .service-document h2{
    font-family: 'Poppins', sans-serif;
    color: #3b3b3b;
    font-size: 2.2rem;
    letter-spacing: -0.02em;
}

.service-document-img{
    min-width: 30%;
}

@media only screen and (max-width: 768px){
    .service-document{
        width: 100%;
    }
} 

.service-document-img img{
    width: 100%;
}